<div class="media">
  <div class="media-left media-middle">
      <img class="img-rounded media-object" width="110" height="110" src="<%= user.escape('image') %>" alt="">
  </div>
  <div class="media-body">
    <h4>
      <a href="/#users/<%= user.id %>">
        <%= user.escape('username') %>
      </a>
    </h4>
    <p>
      <small>
        <%= user.escape('location') %><br>
        <span class="glyphicon glyphicon-user"></span>
        <%= user.escape('num_follows') %>
      </small>
    </p>
    <% if (user.follow().isNew()) { %>
      <button class="btn btn-sm">Follow</button>
    <% } else { %>
      <button class="btn btn-sm btn-success">Following</button>
    <% } %>
  </div>
</div>
