<h3><%= user.escape('username') %></h3>
<div class="thumbnail">
  <img class="img-rounded img-responsive" src="<%= user.escape('image') %>">
  <div class="caption">
    <p><%= user.escape('location') %></p>
    <p><span class="glyphicon glyphicon-user"></span>
      <%= user.escape('num_followers') %> &nbsp;&nbsp;
    <span class="glyphicon glyphicon-star"></span>
      <%= user.escape('num_likes') %></p>
      <% if (user.id == CURRENT_USER_ID) { %>
        <button class="btn btn-default btn-sm">Edit</button>
      <% } %>
  </div>
</div>
