<!DOCTYPE html>
<html>
<head>
  <title>AudioFile</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://widget.cloudinary.com/global/all.js">
  </script>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['cloud_name']%>",
      upload_preset: "<%= ENV['upload_preset'] %>"
    };
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>

</html>
