<!DOCTYPE html>
<html>
<head>
  <title>AudioFile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://widget.cloudinary.com/global/all.js"
          type="text/javascript"
          charset="utf-8">
  </script>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['cloud_name']%>",
      upload_preset: "<%= ENV['upload_preset'] %>"
    };
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
